body {
    margin:0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
max-width: 100%;
margin : 0 auto;
padding:20px 0;
}
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav img {
    height: 30px;
}
ul.links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 230px;
    gap: 60px;
}
ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}
.getSchooled {
    text-align: center;
    margin:100px auto;

}
h1 {
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;
}
.span-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    margin: 0 auto ;
}
.span-wrapper span {
    font-size: 1.2em;
    color: #fff;
}
button { 
    background-color: #C271FF;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 22px;
    font-weight: 600;
    max-width: 200px;
    margin:100px auto 0;
    
}
.instrcutors {
    max-width: 1009px;
    margin: 0 auto;
    text-align: center;
    padding: 67px;
    
}
h2 span {
    color:#C271FF;
    font-size: 32px;

}
h2 {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
}
.instructors-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
}
.instructors-wrapper img {
    border-radius: 50%;
}
.instructors-wrapper h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.instructors-wrapper p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.middle {
    background-color:#C271FF;
    padding: 120px 0;
}
.middle-wrapper {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    gap: 20px;
}
.middle-wrapper h3 , .middle-wrapper p , .middle-wrapper blockquote {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}
.middle-wrapper h3 {
    font-weight: 700;
}
.info {
    padding: 0;
}

blockquote {
    padding: 0;
    margin: 0;
}
.videos {

    display: flex;
    max-width: 1128px;
    margin: 0 auto;
    justify-content: center;
    text-align: left;
    margin-top: 90px;
    gap: 30px ;
}
.video-tutorials {
    padding: 120px 0;
    text-align: center;
}
.video-tutorials h2 {    
    color: #071629;
    font-size: 32px;
    font-weight: 400;
    
}
.video-tutorials span {
    color:#C271FF;
}
.testmonial {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}
.videos p {
    color: #071629a8;
}
.testmonial img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
}
.testmonial h4 {
    color: #C271FF;
    font-size: 16px;
    font-weight: 400;
}
.rating {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
}
.rating p {
    color: #C271FF;

}
.membership-content {
    display: flex;
    justify-content: space-between;
    max-width: 1112px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 90px;
    text-align: center;
}
.membership {
    background-color: #071629;
    text-align: center;
    padding-top: 90px;
    padding-bottom:90px ;
}
.membership span {
    color:#C271FF;
}
.membership-content p , .membership-content h3 {
    width: 100%;
    color:#fff ;
}
.faq h2 {
    font-size: 60px;
    color:#071629;
    text-align: center;
    font-weight: 300;
}
.faq-content {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 170px;
}
.content {
   color: #071629a8;
   font-weight:200;
}
footer {
    background-color: #071629;
    padding: 40px 0;
    margin-top: 120px;

}
.footer-wrapper {
max-width : 1035px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}